
@media (max-width: 1074px) {
    .left-part {
      width: 220px;
    }
    .right-part {
      padding-left: 220px;
    }
  }
  
  @media (max-width: 976px) {
    .left-part {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: auto;
      bottom: 0;
      height: 80px;
      /* height: 100vh; */
      width: 100%;
      background-color: rgb(186, 186, 247);
      z-index: 4;
      padding: 2rem;
      gap: 2rem;
      text-align: center;
    }
    .left-part div {
      height: 30px;
      /* width: 250px; */
      margin: 0;
      padding: 0;
    }
    .right-part {
      padding-left: 0;
    }
  
    .projects {
      margin-bottom: 3rem;
      /* margin-left: 320px; */
    }
  }
  
  @media (max-width: 752px) {
    .about-me {
      display: block;
      padding: 0;
      background-color: brown;
      /* height: 100vh; */
      /* margin-left: 320px; */
    }
    .about-text,
    .about-image {
      width: 100%;
    }
    .about-image {
      height: 400px;
    }
    .about-image img {
      object-position: center -60px;
    }
    .name {
      margin-top: 0;
    }
  }
  
  @media (max-width: 689px) {
    .left-part {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      height: auto;
    }
  
    .projects {
      margin-bottom: 7rem;
      /* margin-left: 320px; */
    }
  }
  
  @media (max-width: 663px) {
    .skills .about {
      display: block;
    }
    .skills .about h2 {
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 617px) {
    .my-works {
      display: flex;
      flex-direction: column;
      /* margin-bottom: 4rem;
    gap: 2rem; */
    }
    .my-works:nth-child(odd) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 500px) {
    .about-image {
      height: 300px;
    }
  }
  